* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container {
  max-width: 600px;
  margin: 20px auto; }

.board {
  width: 80%; }
  .board div {
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 3px double black;
    transition: background 0.5s ease-in-out; }
